select,
input {
  height: 1.5em;
  border: 1px solid var(--accent);
  border-radius: 3px;
  margin: 3px;
}

.create-order__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.create-order-total__span {
  font-weight: bold;
}

.create-order__form--order {
  display: flex;
  flex-direction: row;
}

.create-order__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  background-color: var(--lightest);
  border: 3px solid var(--accent);
  padding: 0.5em;
  border-radius: 8px;
}

.pizza__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 1em;
  background-color: var(--lightest);
  border: 3px solid var(--accent);
  padding: 0.5em;
  border-radius: 8px;
}

.pizza__fieldset--checkbox {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

.pizza-topping {
  width: 50%;
}
.create-order__btn-container {
  display: flex;
  justify-content: space-around;
}
.btn-primary {
  margin: 1em;
  background-color: var(--dark);
  padding: 0.5em;
  color: var(--lightest);
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: var(--accent);
  cursor: pointer;
  color: var(--dark);
}

.create-order__form--pizzas {
  width: 90%;
  background-color: var(--light);
  border-radius: 8px;
}

.btn-delete {
  width: 1.5em;
  height: 1.5em;
  background-color: var(--darkest);
  color: var(--lightest);
  text-align: center;
  font-weight: bold;
  border-radius: 25%;
}

.btn-delete:hover {
  background-color: var(--accent);
}
