.view-orders {
  display: flex;
  flex-direction: column;
  
}

.view-orders-date {
  display: flex;
  flex-direction: column;
}

.view-orders-date-label {
  display: flex;
  justify-content: flex-end;
  margin-right: 23%;
}

.view-orders-date-container {
  display: flex;
  justify-content: flex-end;
}

.view-orders-date-select {
  display: flex;
  margin-right: 20%;
}

.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
