:root {
  --lightest: #f5f5f5; /* topmost light gray */
  --light: #d5dbed; /* second light blue */
  --dark: #3f4852; /* third dark gray */
  --darkest: #353540; /* bottommost dark gray */
  --accent: #f78d1e; /* rightmost orange */
}
